.x-title {
    margin-bottom: 32px;
    font-size: 28px;
}
.x-h1 {
    margin-top: 32px;
    margin-bottom: 24px;
    font-size: 24px;
}
.x-h1::before {
    content: '#';
    margin-right: 8px;
    color: var(--brand-200);
}
.x-h2 {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 20px;
}
.x-h2::before {
    content: '##';
    margin-right: 6px;
    color: var(--brand-200);
}
/* todo: 段落看起来距离更远，是因为字体的top-line不是盒子的上边界 */
.x-h3 {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 18px;
}
.x-h1 a,
.x-h2 a,
.x-h3 a {
    color: inherit;
}
.x-h1 a:hover,
.x-h2 a:hover,
.x-h3 a:hover {
    color: var(--brand-200);
}
