#sidebar {
    --sidebar-padding: 18px;
    position: fixed;
    top: var(--header-height);
    left: 0;
    z-index: 400;
    width: var(--sidebar-width);
    max-width: 80vw;
    height: calc(100% - var(--header-height));
    padding: var(--sidebar-padding);
    padding-bottom: calc(2 * var(--sidebar-padding));
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
    background-color: var(--bg-main);
    box-shadow: var(--light-theme-box-shadow);
    transition: transform 200ms;
}
#sidebar:hover {
    left: 0px; /*解决#sidebar:hover::-webkit-scrollbar对safari无效*/
}
#sidebar::-webkit-scrollbar {
    display: none;
}
#sidebar:hover::-webkit-scrollbar {
    display: block;
}
#sidebar-width-wrapper {
    width: calc(var(--sidebar-width) - 2 * var(--sidebar-padding));
    max-width: calc(80vw - 2 * var(--sidebar-padding));
}
#sidebar-mask {
    position: fixed;
    top: var(--header-height);
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    pointer-events: none;
    background-color: #000000a0;
    opacity: 0;
    transition: opacity 200ms;
}
@media (max-width: 1440px) {
    #sidebar {
        transform: translateX(-100%);
    }
    #sidebar.show-sidebar {
        transform: translateX(0);
    }
    #sidebar-mask.show-sidebar {
        pointer-events: auto;
        opacity: 1;
    }
}
