.sidebar-list {
    width: calc(100% - 16px);
}
.sidebar-list-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.sidebar-list-category {
    box-sizing: content-box;
    height: 24px;
    margin-bottom: 2px;
    padding: 4px 0;
    line-height: 24px;
    font-size: 16px;
    color: var(--text-color-main);
}
.sidebar-list-category-rightarrow {
    width: 16px;
    height: 16px;
    transition: transform 200ms;
}
.sidebar-list-ul-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 200ms;
}
.sidebar-list-ul {
    grid-row: 1 / span 2;
    overflow: hidden;
    opacity: 0;
    transition: opacity 200ms;
}
.sidebar-list-li {
    box-sizing: content-box;
    display: block;
    height: 24px;
    margin-bottom: 2px;
    padding: 4px 16px;
    line-height: 24px;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--text-color-main);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 200ms;
}

/*active样式*/
.sidebar-list-li.active {
    color: var(--text-color-active);
    background-color: var(--bg-transparent-gray);
}

/*hover样式*/
.sidebar-list-li:hover {
    background-color: var(--bg-transparent-gray);
}
.sidebar-list-head:hover .sidebar-list-category {
    color: var(--title-color);
    transition: color 200ms;
}

/*分类展开样式*/
.sidebar-list.show-list .sidebar-list-category {
    color: var(--title-color);
}
.sidebar-list.show-list .sidebar-list-category-rightarrow {
    transform: rotate(90deg);
}
.sidebar-list.show-list .sidebar-list-ul-wrapper {
    grid-template-rows: 1fr;
}
.sidebar-list.show-list .sidebar-list-ul {
    opacity: 0.9;
}
