#sidebar {
    --sidebar-width: 360px;
    --sidebar-padding: 18px;
    position: fixed;
    top: 64px;
    left: 0;
    z-index: 400;
    width: var(--sidebar-width);
    max-width: 80vw;
    height: calc(100% - 64px);
    padding: var(--sidebar-padding);
    padding-bottom: calc(2 * var(--sidebar-padding));
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--bg-main);
    box-shadow: var(--light-theme-box-shadow);
    transform: translateX(-100%);
    user-select: none;
    transition: transform 200ms;
}
#sidebar:hover {
    left: 0px; /*解决#sidebar:hover::-webkit-scrollbar对safari无效*/
}
#sidebar::-webkit-scrollbar {
    display: none;
}
#sidebar:hover::-webkit-scrollbar {
    display: block;
}
#sidebar.show-sidebar {
    transform: translateX(0);
}
#sidebar-width-wrapper {
    width: calc(var(--sidebar-width) - 2 * var(--sidebar-padding));
    max-width: calc(80vw - 2 * var(--sidebar-padding));
}
#sidebar-mask {
    position: fixed;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    background-color: #000000a0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms;
}
#sidebar-mask.show-sidebar {
    opacity: 1;
    pointer-events: all;
}
@media (min-width: 1441px) {
    #sidebar-mask {
        opacity: 0 !important;
        pointer-events: none !important;
    }
}
