#sidebar {
    position: fixed;
    width: 396px;
    height: calc(100vh - 64px);
    padding: 24px;
    background-color: var(--bg-color-1);
    overflow-y: auto;
    transition: background-color 200ms;
}
.sidebarlist-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.sidebarlist-title {
    box-sizing: content-box;
    height: 24px;
    line-height: 24px;
    margin-bottom: 2px;
    padding: 4px 0;
    font-size: 16px;
    color: var(--text-color-main);
    transition: color 200ms;
}
.sidebarlist-title-rightarrow {
    width: 16px;
    height: 16px;
    transition: transform 200ms;
}
.sidebarlist-ul {
    opacity: 0;
    overflow: hidden;
    transition: height 200ms, opacity 200ms;
}
.sidebarlist-li {
    display: block;
    box-sizing: content-box;
    height: 24px;
    line-height: 24px;
    margin-bottom: 2px;
    padding: 4px 16px;
    font-size: 16px;
    color: var(--text-color-main);
    border-radius: 8px;
    cursor: pointer;
    transition: color 200ms, background-color 200ms;
}

/*active样式*/
.sidebarlist-li.active {
    color: var(--text-color-active);
    background-color: var(--hover-color-1);
}

/*hover样式*/
.sidebarlist-li:hover {
    background-color: var(--hover-color-1);
}
.sidebarlist-head:hover .sidebarlist-title {
    color: var(--title-color);
}

/*分类展开样式*/
.sidebarlist.showlist .sidebarlist-title {
    color: var(--title-color);
}
.sidebarlist.showlist .sidebarlist-title-rightarrow {
    transform: rotate(90deg);
}
.sidebarlist.showlist .sidebarlist-ul {
    opacity: 0.9;
}
