.x-title {
    font-size: 36px;
    color: var(--text-color-main);
}
.x-h1 {
    font-size: 30px;
    color: var(--text-color-main);
}
.x-h2 {
    font-size: 24px;
    color: var(--text-color-main);
}
.x-h3 {
    font-size: 18px;
    color: var(--text-color-main);
}