.x-title {
    margin-bottom: 32px;
    font-size: 28px;
    color: var(--text-color-main);
}
.x-h1 {
    margin-top: 32px;
    margin-bottom: 24px;
    font-size: 24px;
    color: var(--text-color-main);
}
.x-h1::before {
    content: '#';
    margin-right: 8px;
    color: var(--text-color-active);
}
.x-h2 {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 20px;
    color: var(--text-color-main);
}
.x-h3 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 18px;
    color: var(--text-color-main);
}
.x-h1 a,
.x-h2 a,
.x-h3 a {
    color: inherit;
}
.x-h1 a:hover,
.x-h2 a:hover,
.x-h3 a:hover {
    color: var(--text-color-active);
}
.x-br {
    width: 0;
    height: 24px;
}
.x-divider {
    margin: 12px 0;
    border-bottom: var(--border);
}
