.x-title {
    font-size: 36px;
    color: var(--text-color-main);
    margin-bottom: 18px;
}
.x-h1 {
    font-size: 30px;
    color: var(--text-color-main);
    margin-bottom: 16px;
}
.x-h2 {
    font-size: 24px;
    color: var(--text-color-main);
    margin-bottom: 12px;
}
.x-h3 {
    font-size: 18px;
    color: var(--text-color-main);
    margin-bottom: 8px;
}
.x-p {
    margin-bottom: 16px;
    line-height: 28px;
    font-size: 16px;
    color: var(--text-color-main);
}
.x-inline-highlight {
    margin: 0 4px;
    padding: 2px 4px;
    font-size: 14px;
    font-family: consolas;
    color: var(--inline-highlight-color-text);
    border-radius: 4px;
    background-color: var(--inline-highlight-color-bg);
}
.x-inline-strong {
    font-weight: bold;
}
.x-inline-link {
    color: var(--text-color-active);
}
.x-inline-link .x-inline-highlight {
    color: var(--text-color-active);
}
.x-inline-link:hover {
    border-bottom: 1px solid var(--text-color-active);
}
