.x-codeblock {
    margin: 24px 0;
    overflow-x: auto;
    border-radius: 12px;
    background-color: var(--bg-color-1);
    box-shadow: var(--codeblock-shadow);
}
.x-codeblock pre code[class*='language-'] {
    display: block;
    width: fit-content;
    padding: 24px 32px;
    line-height: 24px;
    font-size: 95%;
    font-family: var(--font-code);
    color: var(--text-color-main);
}
