.x-codeblock {
    --x-codeblock-line-height: 24px;
    position: relative;
    font-size: 15px;
    line-height: var(--x-codeblock-line-height);
    background-color: var(--bg-main);
    border-radius: 12px;
    box-shadow: var(--light-theme-box-shadow);
}
.x-codeblock .x-codeblock-header {
    position: absolute;
    top: -8px;
    right: -8px;
    display: flex;
    align-items: center;
    max-width: 96%;
    height: 32px;
    padding: 0px 6px 0 10px;
    background-color: var(--bg-main);
    border-radius: 6px;
    box-shadow: var(--light-theme-box-shadow);
}
.x-codeblock-header-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.x-codeblock .x-codeblock-header > * {
    opacity: 0.4;
    transition: opacity 200ms;
}
.x-codeblock:hover .x-codeblock-header > * {
    opacity: 1;
}
.x-codeblock .x-codeblock-header .svg-copy-icon path {
    fill: var(--fg-gray-300);
}
.x-codeblock .x-codeblock-header-copy {
    display: flex;
    align-items: center;
    padding: 2px;
    margin-left: 4px;
    border-radius: 2px;
}
.x-codeblock pre {
    padding: var(--x-codeblock-line-height) 0;
    overflow-x: auto;
}
.x-codeblock pre code {
    display: block;
    width: fit-content;
    padding: 0 32px;
    text-align: left;
}
@media (width <= 600px) {
    .x-codeblock pre code {
        padding: 0 var(--content-pad-x-compact);
    }
}
