#blog660e89-wrapper1 {
    width: 240px;
    height: fit-content;
    padding: 16px 24px;
    border-radius: 12px;
    background-color: var(--bg-transparent-golden);
}
#blog660e89-content1 p {
    line-height: 32px;
}
#blog660e89-content1 {
    height: 0;
    overflow: hidden;
    transition: height 500ms;
}
#blog660e89-wrapper1:hover #blog660e89-content1 {
    height: auto;
}

#blog660e89-wrapper2 {
    width: 240px;
    height: fit-content;
    padding: 16px 24px;
    border-radius: 12px;
    background-color: var(--bg-transparent-golden);
}
#blog660e89-content2 p {
    line-height: 32px;
}
#blog660e89-content2 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms;
}
#blog660e89-wrapper2:hover #blog660e89-content2 {
    max-height: 600px;
}

#blog660e89-wrapper3 {
    width: 240px;
    height: fit-content;
    padding: 16px 24px;
    border-radius: 12px;
    background-color: var(--bg-transparent-golden);
}
#blog660e89-content3 p {
    line-height: 32px;
}
#blog660e89-content3 {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
}
#blog660e89-content3 > div {
    grid-row: 1 / span 2;
    overflow: hidden;
}
#blog660e89-wrapper3:hover #blog660e89-content3 {
    grid-template-rows: 1fr;
}

#blog660e89-wrapper4 {
    width: 240px;
    height: fit-content;
    padding: 16px 24px;
    border-radius: 12px;
    background-color: var(--bg-transparent-golden);
}
#blog660e89-content4 p {
    line-height: 32px;
}
#blog660e89-content4 {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 3000ms;
    background-color: var(--bg-transparent-gray);
}
#blog660e89-content4 > div {
    overflow: hidden;
    background-color: var(--bg-transparent-red);
}
#blog660e89-wrapper4:hover #blog660e89-content4 {
    grid-template-rows: 1fr;
}

#blog660e89-wrapper5 {
    width: 240px;
    height: fit-content;
    padding: 16px 24px;
    border-radius: 12px;
    background-color: var(--bg-transparent-golden);
}
#blog660e89-content5 p {
    line-height: 32px;
}
#blog660e89-content5 {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 3000ms;
    background-color: var(--bg-transparent-gray);
}
#blog660e89-content5 > div {
    grid-row: 1 / span 2;
    overflow: hidden;
    background-color: var(--bg-transparent-red);
}
#blog660e89-wrapper5:hover #blog660e89-content5 {
    grid-template-rows: 1fr;
}

#blog660e89-flex-spacer {
    height: 214px;
}
