.x-p {
    margin-bottom: 24px;
    line-height: 28px;
    font-size: 16px;
}
.x-p.with-margin-top {
    margin-top: 24px;
}
.x-p.no-margin-bottom {
    margin-bottom: 0;
}
.x-p .katex {
    margin: 0 2px;
}
.x-inline-highlight {
    margin: 0 4px;
    padding: 2px 4px;
    font-size: 14px;
    font-family: var(--font-code);
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    color: var(--fg-gray-100);
    border-radius: 4px;
    background-color: var(--bg-transparent-gray-600);
}
.x-inline-strong {
    font-weight: bold;
}
.x-inline-link {
    color: var(--brand-200);
    border-bottom: 1px solid transparent;
}
.x-inline-link .x-inline-highlight {
    color: var(--brand-200);
}
.x-inline-link:hover {
    border-bottom: 1px solid var(--brand-200);
}
