{
    "tabWidth": 4,
    "singleQuote": true,
    "bracketSpacing": false,
    "printWidth": 120,
    "overrides": [
        {
          "files": "src/app/**/page.js",
          "options": {
            "printWidth": 9999
          }
        }
      ]
}