.homepage {
    background-image: url(../../assets/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    height: 100vh;
}
.mask {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    left: 0;
}
.header {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 60px;
background-color: #303030;
}