#homepage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    background-color: var(--bg-color-1);
}
#homepage-title {
    margin-top: 32px;
    font-size: 48px;
    color: var(--text-color-main);
}
#logopart-wrapper {
    position: relative;
    width: 120px;
    height: 120px;
}
#logopart-x {
    position: absolute;
    top: 0;
    left: 24px;
    z-index: 3;
    width: 24px;
    height: 120px;
    background-color: #00f8ff;
    box-shadow: var(--logopart-shadow);
    transform: skewX(-21.8deg);
    transition: box-shadow 400ms;
}
#logopart-y {
    position: absolute;
    top: 0;
    left: 60px;
    z-index: 1;
    width: 24px;
    height: 60px;
    background-color: #00a8c4;
    transform: skewX(21.8deg);
}
#logopart-vl {
    position: absolute;
    top: 0;
    left: 24px;
    z-index: 2;
    width: 24px;
    height: 120px;
    background-color: #30303c;
    transform: skewX(21.8deg);
}
#logopart-vr {
    position: absolute;
    top: 0;
    left: 72px;
    z-index: 2;
    width: 24px;
    height: 120px;
    background-color: var(--logopart-vr-color);
    transform: skewX(-21.8deg);
}
#blog-lists {
    min-height: calc(100vh - 64px);
    padding: 12px 24px 48px;
    overflow: hidden;
    user-select: none;
}
.blog-list {
    max-width: 1024px;
    margin: 36px auto 0;
}
.blog-list-head {
    display: flex;
    cursor: pointer;
}
.blog-list-category {
    width: fit-content;
    padding: 12px 0;
    font-size: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--text-color-main);
    border-bottom: 1px solid var(--gray-1);
    transition: color 200ms, flex-grow 200ms;
}
.blog-list-ul-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 200ms;
}
.blog-list-ul {
    grid-row: 1 / span 2;
    overflow: hidden;
    opacity: 0;
    transition: opacity 200ms;
}
.blog-list-li {
    height: 50px;
    margin-top: 8px;
    padding: 12px 24px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 200ms;
}
.blog-list-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color-main);
}
.blog-list-title {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.blog-list-time {
    font-size: 14px;
    font-weight: normal;
    opacity: 0;
}
@media (max-width: 600px) {
    .blog-list-time {
        display: none;
    }
}

/*hover样式*/
.blog-list-li:hover {
    background-color: var(--bg-transparent-gray);
}
.blog-list-li:hover .blog-list-time {
    opacity: 0.5;
}
.blog-list-head:hover .blog-list-category {
    color: var(--title-color);
}

/*分类展开样式*/
.blog-list.show-list .blog-list-category {
    flex-grow: 1;
    color: var(--title-color);
}
.blog-list.show-list .blog-list-ul-wrapper {
    grid-template-rows: 1fr;
}
.blog-list.show-list .blog-list-ul {
    opacity: 0.9;
}
