#homepage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    background-color: var(--bg-color-1);
}
#homepage-title {
    margin-top: 32px;
    font-size: 48px;
    color: var(--text-color-main);
}
#logopart-wrapper {
    position: relative;
    width: 120px;
    height: 120px;
}
#logopart-x {
    position: absolute;
    top: 0;
    left: 24px;
    z-index: 3;
    width: 24px;
    height: 120px;
    background-color: #00f8ff;
    box-shadow: var(--logopart-shadow);
    transform: skewX(-21.8deg);
    transition: box-shadow 400ms;
}
#logopart-y {
    position: absolute;
    top: 0;
    left: 60px;
    z-index: 1;
    width: 24px;
    height: 60px;
    background-color: #00a8c4;
    transform: skewX(21.8deg);
}
#logopart-vl {
    position: absolute;
    top: 0;
    left: 24px;
    z-index: 2;
    width: 24px;
    height: 120px;
    background-color: #30303c;
    transform: skewX(21.8deg);
}
#logopart-vr {
    position: absolute;
    top: 0;
    left: 72px;
    z-index: 2;
    width: 24px;
    height: 120px;
    background-color: var(--logopart-vr-color);
    transform: skewX(-21.8deg);
}
#bloglists {
    min-height: calc(100vh - 64px);
    padding: 12px 120px 48px;
    overflow: hidden;
    user-select: none;
}
.bloglist {
    min-width: 480px;
    max-width: 1024px;
    margin: 36px auto 0;
}
.bloglist-head {
    display: flex;
    margin-bottom: 0;
    cursor: pointer;
    transition: margin-bottom 200ms;
}
.bloglist-title {
    width: fit-content;
    padding: 12px 0;
    font-size: 24px;
    color: var(--text-color-main);
    border-bottom: 1px solid var(--gray-1);
    transition: color 200ms, flex-grow 200ms;
}
.bloglist-ul-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 200ms;
}
.bloglist-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 24px;
    opacity: 0;
    overflow: hidden;
    transition: opacity 400ms;
}
.bloglist-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color-main);
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 200ms;
}
.bloglist-time {
    opacity: 0;
    font-size: 14px;
    font-weight: normal;
}

/*hover样式*/
.bloglist-li:hover {
    background-color: var(--bg-transparent-gray);
}
.bloglist-li:hover .bloglist-time {
    opacity: 0.5;
}
.bloglist-head:hover .bloglist-title {
    color: var(--title-color);
}

/*分类展开样式*/
.bloglist.showlist .bloglist-head {
    margin-bottom: 12px;
}
.bloglist.showlist .bloglist-title {
    flex-grow: 1;
    color: var(--title-color);
}
.bloglist.showlist .bloglist-ul-wrapper {
    grid-template-rows: 1fr;
}
.bloglist.showlist .bloglist-ul {
    opacity: 0.9;
}
