.x-flexrow-wrapper {
    max-width: 100%;
    overflow-x: auto;
}
.x-flexrow {
    display: inline-flex;
    flex-direction: row;
    padding: 4px;
}
.x-flexrow > .x-image {
    margin-inline: 0;
}
.x-flexrow.flex1 > * {
    flex: 1;
}
