.x-blogwrapper {
    box-sizing: content-box;
    max-width: 1000px;
    min-width: 600px;
    padding: 48px 420px 48px 480px;
    color: var(--text-color-main);
}
@media (max-width: 1500px) {
    .x-blogwrapper {
        padding: 48px 84px 48px 480px;
    }
    .x-blogcontent {
        display: none;
    }
}
@media (max-width: 1164px) {
    .x-blogwrapper {
        max-width: 1128px;
        padding: 48px 64px;
    }
}

.x-blogcontent {
    position: fixed;
    top: 100px;
    right: 36px;
    width: 300px;
    max-height: 838px;
    padding: 24px 0;
    font-size: 14px;
    border-left: 1px solid var(--bg-color-1);
    border-radius: 12px;
    background-color: var(--bg-color-1);
    box-shadow: 0 0 6px 1px #0000000c;
    overflow-y: auto;
}
.x-blogcontent-titletype-x-h1,
.x-blogcontent-titletype-x-h2 {
    margin-top: 2px;
    padding: 4px 32px 4px 32px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /*todo:css 顺序*/
    border-left: 4px solid transparent;
    border-radius: 4px;
    opacity: 0.9;
    cursor: pointer;
    user-select: none;
}
.x-blogcontent-titletype-x-h2 {
    padding-left: calc(32px + 1.5em);
}
.x-blogcontent-titletype-x-h2.active,
.x-blogcontent-titletype-x-h1.active {
    color: var(--text-color-active);
    border-left: 4px solid var(--text-color-active);
    background: linear-gradient(120deg, var(--bg-transparent-gray) 50%, transparent);
    opacity: 1;
}
