.x-blogwrapper {
    box-sizing: content-box;
    max-width: 1024px;
    min-width: 600px;
    height: calc(100vh - 64px);
    padding: 48px 48px 48px 480px;
    color: var(--text-color-main);
}
@media screen and (max-width: 1128px) {
    .x-blogwrapper {
        padding: 48px;
    }
    .x-blogcontent {
        display: none;
    }
}

.x-blogcontent {
    position: fixed;
    top: 100px;
    right: 48px;
    padding: 24px;
    border-radius: 12px;
    background-color: #fff;

    box-shadow: 0 0 6px 1px #0000000c;
}
