.x-formula {
    margin: 24px 0;
    overflow-x: auto;
    overflow-y: hidden;
    /* padding: 4px 0; */
    text-align: center;
    user-select: none;
}
.x-formula-left {
    text-align: left;
}
.x-formula * {
    white-space: nowrap;
}
