.x-formula {
    /* margin-top: 8px;
    margin-bottom: 24px; */
    /* overflow-x: auto;
    overflow-y: hidden; */
    margin: 16px 0;
    user-select: none;
}
.x-formula * {
    white-space: nowrap;
}
