#contents {
    --contents-width: 300px;
    position: fixed;
    top: 64px;
    right: 0;
    z-index: 100;
    width: var(--contents-width);
    max-height: calc(100vh - 64px - 48px - 48px);
    margin: 48px 60px 0 0;
    padding: 24px 0;
    font-size: 14px;
    overflow-y: auto;
    border-radius: 12px;
    background-color: var(--bg-main);
    box-shadow: var(--light-theme-box-shadow);
}
@media (max-width: 1440px) {
    #contents {
        display: none;
    }
}
#contents::-webkit-scrollbar {
    display: none;
}
#contents:hover::-webkit-scrollbar {
    display: block;
}
#contents-header {
    padding: 4px 32px 4px 32px;
    line-height: 20px;
    color: var(--brand-200);
    cursor: pointer;
    user-select: none;
}
#contents ul {
    width: calc(var(--contents-width) - 4px);
}
#contents .titletype-x-h1,
#contents .titletype-x-h2 {
    margin-top: 2px;
    padding: 4px 32px 4px 32px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-left: 4px solid transparent;
    border-radius: 4px;
    opacity: 0.9;
    cursor: pointer;
    user-select: none;
}
#contents .titletype-x-h2 {
    padding-left: calc(32px + 1.5em);
}
#contents .titletype-x-h2.active,
#contents .titletype-x-h1.active {
    color: var(--brand-300);
    border-left: 4px solid var(--brand-300);
    background: linear-gradient(120deg, var(--bg-transparent-gray-300) 50%, transparent);
    opacity: 1;
}
