.category-card {
    padding: 12px;
    border-radius: 4px;
    color: var(--fg-main);
    border-bottom: var(--border);
    transition: height 1000ms;
}
.category-card.sidebar-card {
    font-size: 14px;
}
.category-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category-name {
    font-weight: bold;
    padding: 0.6em 1em;
    color: var(--brand-200);
}
.category-rightarrow {
    width: 16px;
    height: 16px;
    margin-right: 0.6em;
    transition: transform 200ms;
}
.category-card.show-list .category-rightarrow {
    transform: rotate(90deg);
}
.category-card-ul-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 200ms;
}
.category-card-ul {
    grid-row: 1 / span 2;
    overflow: hidden;
    opacity: 0;
    transition: opacity 200ms;
}
.category-card.show-list .category-card-ul-wrapper {
    grid-template-rows: 1fr;
}
.category-card.show-list .category-card-ul {
    opacity: 0.9;
}

.post-title {
    color: var(--text-main);
}
