#post-layout {
    min-width: 240px;
    padding: 0 360px;
    transition: padding 200ms;
}
@media (max-width: 1440px) {
    #post-layout {
        padding: 0 !important;
    }
}
#main * {
    word-break: break-word;
}
.post-title {
    margin-bottom: 12px;
    font-size: 28px;
}
