.blog72aa87-boxes {
    display: flex;
    margin: 24px;
}
.blog72aa87-boxes .blog72aa87-box {
    width: 28px;
    height: 28px;
    margin: 8px;
    border: 3px solid var(--color-main);
}
.blog72aa87-circle {
    border-radius: 50%;
}
.blog72aa87-fill {
    background-color: var(--color-main);
}
