#blog-layout {
    margin-top: 64px;
    padding: 48px 480px;
}
#main {
    max-width: 1080px;
    margin: 0 auto;
    color: var(--text-color-main);
}
#main * {
    word-break: break-word;
}
#contents {
    position: fixed;
    top: 64px;
    right: 0;
    z-index: 100;
    width: 300px;
    max-height: calc(100vh - 64px - 48px - 48px);
    margin: 48px 64px 0 0;
    padding: 24px 0;
    font-size: 14px;
    overflow-y: auto;
    color: var(--text-color-main);
    border-radius: 12px;
    background-color: var(--bg-main-transparent);
    box-shadow: var(--light-theme-box-shadow);
}
#contents::-webkit-scrollbar {
    display: none;
}
#contents:hover::-webkit-scrollbar {
    display: block;
}
#sidebar {
    position: fixed;
    top: 64px;
    left: 0;
    z-index: 100;
    width: var(--sidebar-width);
    height: calc(100vh - 64px);
    padding: 24px 0 24px 24px;
    overflow-y: auto;
    background-color: var(--bg-main-transparent);
    backdrop-filter: blur(5px) saturate(160%);
    user-select: none;
    transition: transform 200ms;
}
#sidebar::-webkit-scrollbar {
    display: none;
}
#sidebar:hover::-webkit-scrollbar {
    display: block;
}
#sidebar.show-sidebar {
    transform: translateX(0);
}
#sidebar-mask {
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000a0;
    opacity: 0;
    pointer-events: none;
    transition: left 200ms, opacity 200ms;
}
#sidebar-mask.show-sidebar {
    left: 300px;
    opacity: 1;
    pointer-events: all;
}
@media (max-width: 1560px) {
    #blog-layout {
        padding: 48px 42px 48px calc(min(396px, 30vw) + 42px);
    }
    #contents {
        display: none;
    }
}
@media (max-width: 1000px) {
    #blog-layout {
        padding: 48px 24px;
    }
    #sidebar {
        transform: translateX(-100%);
    }
}
@media (min-width: 1000px) {
    #sidebar-mask {
        opacity: 0 !important;
    }
}
