#blog-layout {
    padding: 48px 480px;
}
#main {
    max-width: 1080px;
    margin: 0 auto;
    color: var(--text-color-main);
}
#main * {
    word-break: break-word;
}
#contents {
    position: fixed;
    top: 64px;
    right: 0;
    z-index: 100;
    width: 300px;
    height: fit-content;
    max-height: calc(100vh - 64px - 64px);
    margin: 48px 64px 32px 0;
    padding: 24px 0;
    font-size: 14px;
    overflow: auto;
    color: var(--text-color-main);
    border-radius: 12px;
    background-color: var(--bg-main-transparent);
    box-shadow: var(--light-theme-box-shadow);
}
#contents-header {
    padding: 4px 32px 4px 32px;
    line-height: 20px;
    color: var(--text-color-active);
}
#contents .titletype-x-h1,
#contents .titletype-x-h2 {
    margin-top: 2px;
    padding: 4px 32px 4px 32px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-left: 4px solid transparent;
    border-radius: 4px;
    opacity: 0.9;
    cursor: pointer;
    user-select: none;
}
#contents .titletype-x-h2 {
    padding-left: calc(32px + 1.5em);
}
#contents .titletype-x-h2.active,
#contents .titletype-x-h1.active {
    color: var(--text-color-active);
    border-left: 4px solid var(--text-color-active);
    background: linear-gradient(120deg, var(--bg-transparent-gray) 50%, transparent);
    opacity: 1;
}
#sidebar {
    position: fixed;
    top: 64px;
    left: 0;
    z-index: 100;
    width: 30vw;
    max-width: 396px;
    height: calc(100vh - 64px);
    padding: 24px 0 24px 24px;
    overflow: scroll;
    background-color: var(--bg-main-transparent);
    backdrop-filter: blur(6px);
    user-select: none;
    transition: transform 200ms;
}
#sidebar.show-sidebar {
    transform: translateX(0);
}
#sidebar-mask {
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000a0;
    opacity: 0;
    pointer-events: none;
    transition: left 200ms, opacity 200ms;
}
#sidebar-mask.show-sidebar {
    left: 300px;
    opacity: 1;
    pointer-events: all;
}
@media (max-width: 1560px) {
    #blog-layout {
        padding: 48px 42px 48px calc(min(396px, 30vw) + 42px);
    }
    #contents {
        display: none;
    }
}
@media (max-width: 1000px) {
    #blog-layout {
        padding: 48px 24px;
    }
    #sidebar {
        width: 300px;
        transform: translateX(-100%);
    }
}
@media (min-width: 1000px) {
    #sidebar-mask {
        opacity: 0 !important;
    }
}
