#post-layout {
    min-width: 240px;
    padding: 0 calc(var(--toc-width) + var(--toc-gap)) 0 var(--sidebar-width);
    transition: padding 200ms;
}
@media (max-width: 1440px) {
    #post-layout {
        padding: 0;
    }
}
#main * {
    overflow-wrap: break-word;
}
