#post-layout {
    min-width: 240px;
    padding-right: 360px;
    transition: padding-left 200ms;
}
#post-layout:has(#sidebar.show-sidebar) {
    padding-left: 360px;
}
@media (max-width: 1440px) {
    #post-layout {
        padding: 0 !important;
    }
}
#main * {
    word-break: break-word;
}
