#current-version {
    align-self: center;
    line-height: 160px;
    font-size: 32px;
    font-family: var(--font-code);
    user-select: none;
}
#dance-gif {
    width: 128px;
    padding-top: 32px;
}
