.x-post-title {
    margin-bottom: 12px;
    font-size: 28px;
}
.x-h1 {
    font-size: 24px;
}
.x-h1::before {
    content: '#';
    margin-right: 8px;
    color: var(--brand-300);
}
.x-h2 {
    font-size: 20px;
}
.x-h2::before {
    content: '##';
    margin-right: 6px;
    color: var(--brand-300);
}
.x-h3 {
    font-size: 18px;
}
.x-h1,
.x-h2,
.x-h3 {
    margin-top: 24px;
    margin-bottom: 24px;
}
.x-h1 a,
.x-h2 a,
.x-h3 a {
    color: inherit;
}
.x-h1 a:hover,
.x-h2 a:hover,
.x-h3 a:hover {
    color: var(--brand-300);
}

/* .x-h1 a::after,
.x-h2 a::after,
.x-h3 a::after {
    content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='24' viewBox='0 0 24 36'><path d='M9 5v2h6.6L4 18.6 5.4 20 17 8.4V15h2V5H9z' fill='%23808080'/></svg>");
} */
