.x-h1 {
    font-size: 24px;
}
.x-h1::before {
    content: '#';
    margin-right: 8px;
    color: var(--brand-300);
}
.x-h2 {
    font-size: 20px;
}
.x-h2::before {
    content: '##';
    margin-right: 6px;
    color: var(--brand-300);
}
.x-h3 {
    font-size: 18px;
}
.x-h1,
.x-h2,
.x-h3 {
    margin-top: 24px;
    margin-bottom: 24px;
}
.x-h1 a,
.x-h2 a,
.x-h3 a {
    color: inherit;
}
.x-h1 a:hover,
.x-h2 a:hover,
.x-h3 a:hover {
    color: var(--brand-300);
}
