:root {
    --font-code: Consolas_Latin_Subset, Consolas, Menlo, 'Courier New', Courier, 'Ubuntu Mono', monospace;
}
:root,
:root.light {
    /*背景色*/
    --bg-main: #ffffff;
    --bg-body: #ffffff;

    --bg-gray-100: #fcfcfc;
    --bg-gray-200: #f4f4f4;
    --bg-gray-300: #ececec;
    --bg-gray-400: #e4e4e4;
    --bg-gray-500: #dcdcdc;
    --bg-gray-600: #d4d4d4;
    --bg-gray-700: #cccccc;
    --bg-gray-800: #c4c4c4;
    --bg-gray-900: #bcbcbc;

    --bg-transparent-gray-100: #cccccc10;
    --bg-transparent-gray-200: #cccccc1c;
    --bg-transparent-gray-300: #cccccc28;
    --bg-transparent-gray-400: #cccccc34;
    --bg-transparent-gray-500: #cccccc40;
    --bg-transparent-gray-600: #cccccc4c;

    --bg-transparent-red: #ff380018;
    --bg-transparent-blue: #0080ff18;
    --bg-transparent-green: #00ff0020;
    --bg-transparent-golden: #ffb80018;

    /*前景色*/
    --fg-main: #30303c;
    --fg-gray-100: #40404c;
    --fg-gray-200: #50505c;
    --fg-gray-300: #60606c;

    /*主题色*/
    --brand-main: #00f8ff;
    --brand-100: #00b8d0;
    --brand-200: #00a8c4;
    --brand-300: #0088ac;

    /*低对比度灰色*/
    --low-contrast-gray-100: #30303c;
    --low-contrast-gray-200: #40404c;
    --low-contrast-gray-300: #50505c;

    /*非颜色*/
    --border: 1px solid #80808040;

    /*仅亮色模式*/
    --light-theme-box-shadow: 0 0 4px 2px #0000000c;
}
:root.dark {
    /*背景色*/
    --bg-main: #141416;
    --bg-body: #1c1c1e;

    --bg-gray-100: #202024;
    --bg-gray-200: #28282c;
    --bg-gray-300: #303034;
    --bg-gray-400: #38383c;
    --bg-gray-500: #404044;
    --bg-gray-600: #48484c;
    --bg-gray-700: #505054;
    --bg-gray-800: #58585c;
    --bg-gray-900: #606064;

    --bg-transparent-gray-100: #60606410;
    --bg-transparent-gray-200: #6060641c;
    --bg-transparent-gray-300: #60606428;
    --bg-transparent-gray-400: #60606434;
    --bg-transparent-gray-500: #60606440;
    --bg-transparent-gray-600: #6060644c;

    --bg-transparent-red: #c02a0020;
    --bg-transparent-blue: #0080ff18;
    --bg-transparent-green: #80ff8018;
    --bg-transparent-golden: #c08a0020;

    /*前景色*/
    --fg-main: #fcfcfc;
    --fg-gray-100: #ececec;
    --fg-gray-200: #dcdcdc;
    --fg-gray-300: #cccccc;

    /*主题色*/
    --brand-main: #00f8ff;
    --brand-100: #00c8dc;
    --brand-200: #00b8d0;
    --brand-300: #00a8c4;

    /*低对比度灰色*/
    --low-contrast-gray-100: #404044;
    --low-contrast-gray-200: #48484c;
    --low-contrast-gray-200: #505054;

    /*非颜色*/
    --border: 1px solid #80808060;

    /*仅暗色模式*/
    --dark-theme-logopart-shadow: 0 0 48px 4px #00e8f4a0;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--bg-gray-500);
}
*::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-gray-700);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--fg-main);
}
body {
    padding-top: 64px;
    font-size: 16px;
    background-color: var(--bg-body);
}
div,
li,
a {
    -webkit-tap-highlight-color: transparent;
}
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
img {
    -webkit-user-drag: none;
}
code {
    font-family: var(--font-code);
}
