#homepage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 128px 0 24px 0;
    background-color: var(--bg-main);
}
#homepage-title {
    margin-top: 32px;
    font-size: 40px;
    color: var(--text-color-main);
}
#logopart-wrapper {
    position: relative;
    width: 120px;
    height: 120px;
}
#logopart-x {
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 3;
    width: 20%;
    height: 100%;
    background-color: #00f8ff;
    box-shadow: var(--logopart-shadow);
    transform: skewX(-21.8deg);
    transition: box-shadow 400ms;
}
#logopart-y {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    width: 20%;
    height: 50%;
    background-color: #00a8c4;
    transform: skewX(21.8deg);
}
#logopart-vl {
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 2;
    width: 20%;
    height: 100%;
    background-color: #30303c;
    transform: skewX(21.8deg);
}
#logopart-vr {
    position: absolute;
    top: 0;
    left: 60%;
    z-index: 2;
    width: 20%;
    height: 100%;
    background-color: var(--logopart-vr-color);
    transform: skewX(-21.8deg);
}
