.x-table-wrapper {
    width: fit-content;
    max-width: 100%;
    margin: 24px 0;
    overflow-x: auto;
}
.x-table {
    width: max-content;
    height: fit-content;
    border-collapse: separate;
    border-spacing: 3px;
}
.x-table th {
    background-color: var(--bg-transparent-gray-600);
}
.x-table td {
    background-color: var(--bg-transparent-gray-300);
}
.x-table th,
.x-table td {
    padding: 8px 12px;
    line-height: 28px;
    text-align: center;
}
.x-table th > *,
.x-table td > * {
    margin-top: 8px;
    margin-bottom: 8px;
}
.x-table th > :first-child,
.x-table td > :first-child {
    margin-top: 0;
}
.x-table th > :last-child,
.x-table td > :last-child {
    margin-bottom: 0;
}
.x-cell-align-l * {
    text-align: left;
}
.x-cell-align-r * {
    text-align: right;
}
