.x-table {
    height: fit-content;
    margin-bottom: 24px;
    color: var(--text-color-main);
    border-collapse: collapse;
}
.x-table th {
    background-color: var(--bg-transparent-gray);
}
.x-table th,
.x-table td {
    padding: 8px 12px;
    text-align: center;
    border: 1px solid #80808080;
}
.x-table th > *,
.x-table td > * {
    margin: 0;
}
