.center-wrapper {
    box-sizing: content-box;
    min-width: 300px;
    max-width: 1080px;
    margin: 0 auto;
    padding: 48px 60px;
}
@media (max-width: 600px) {
    .center-wrapper {
        padding: 32px 18px;
    }
}
