#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 64px;
    padding: 0 180px;
    background-color: #fcfcfc;
}
#header-logo {
    width: 36px;
    height: 36px;
    cursor: pointer;
}
#header-github-bg {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #30303c;
}
#header-github-bg:hover {
    background-color: #50505c;
}