#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 64px;
    padding: 0 180px;
    background-color: var(--bg-color-1);
    transition: background-color 200ms;
}
#header-right-wrapper {
    display: flex;
}
/* #header-logo-bg {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0 0 10px 1px #0088ac;
} */
/*//todo: 整理这一页的css次序*/
#header-logo {
    width: 36px;
    height: 36px;
    cursor: pointer;
}
#header-theme-bg {
    width: 36px;
    height: 36px;
    margin-right: 24px;
    border-radius: 50%;
    background-color: #30303c;
    border: 4px solid #30303c;
}
#header-theme {
    /* position: absolute;
    left: -6px;
    top: -6px; */
    /* width: 36px;
    height: 36px; */
}
#header-github-bg {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #30303c;
    box-shadow: 0 0 6px 1px #00f8ff80;
    transition: all 0.2s;
}
#header-github-bg:hover {
    /* background-color: #50505c; */
    box-shadow: 0 0 12px 1px #00f8ffA0;
}
