#contents {
    position: fixed;
    top: var(--header-height);
    right: 0;
    z-index: 100;
    width: var(--toc-width);
    max-height: calc(100vh - var(--header-height) - 48px - 48px);
    padding: 24px 0;
    margin: 48px var(--toc-margin-right) 0 0;
    overflow-y: auto;
    font-size: 14px;
    background-color: var(--bg-main);
    border-radius: 12px;
    box-shadow: var(--light-theme-box-shadow);
    transition: opacity 400ms ease-in;
}
@media (max-width: 1440px) {
    #contents {
        pointer-events: none;
        opacity: 0;
        transition: opacity 0ms;
    }
}
#contents::-webkit-scrollbar {
    display: none;
}
#contents:hover::-webkit-scrollbar {
    display: block;
}
#contents-header {
    padding: 4px 32px 4px 32px;
    line-height: 20px;
    color: var(--brand-200);
    cursor: pointer;
    user-select: none;
}
#contents ul {
    width: calc(var(--toc-width) - 4px);
}
#contents .titletype-x-h1,
#contents .titletype-x-h2 {
    padding: 4px 32px 4px 32px;
    margin-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    border-left: 4px solid transparent;
    border-radius: 4px;
    opacity: 0.9;
}
#contents .titletype-x-h2 {
    padding-left: calc(32px + 1.5em);
}
#contents .titletype-x-h2.active,
#contents .titletype-x-h1.active {
    color: var(--brand-300);
    background: linear-gradient(120deg, var(--bg-transparent-gray-300) 50%, transparent);
    border-left: 4px solid var(--brand-300);
    opacity: 1;
}
