#b0001-canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}
#b0001-dance-version-wrapper {
    max-width: 360px;
    padding-top: 24px;
}
#b0001-dance-gif-wrapper {
    padding-top: 32px;
}
