#b0001-canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    pointer-events: none;
}
#b0001-dance-version-wrapper {
    align-self: center;
    max-width: 360px;
}
#b0001-dance-gif {
    padding-top: 32px;
}
