.link {
    display: block;
    width: 100%;
    padding: 0.4em 1em;
    margin-top: 0.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 0.5em;
    transition: background-color 200ms;
}
.link.active {
    color: var(--brand-300);
}
.link:hover,
.link.active {
    background-color: var(--bg-transparent-gray-300);
}
