#current-version {
    align-self: center;
    line-height: 120px;
    font-size: 32px;
    font-family: var(--font-code);
    user-select: none;
}
#cheer-gif {
    width: 120px;
}
#dance-gif {
    width: 100px;
    padding-top: 20px;
}
@media (max-width: 600px) {
    #current-version {
        line-height: 80px;
        font-size: 24px;
    }
    #cheer-gif {
        width: 80px;
    }
    #dance-gif {
        width: 64px;
        padding-top: 16px;
    }
}
