.token .script {
    color: var(--text-color-main);
}
.token.namespace {
    opacity: 0.7;
}
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}
:root.light {
    .token.operator,
    .token.punctuation,
    .token.attr-value .token.attr-equals,
    .token.prolog,
    .token.doctype,
    .token.cdata {
        color: #808080;
    }
    .token.string,
    .token.url,
    .token.attr-value,
    .token.attr-value .punctuation {
        color: #c94d18;
    }
    .token.tag,
    .token.keyword,
    .token.important,
    .token.macro .token.directive-hash {
        color: #045495;
    }
    .token.boolean,
    .token.attr-name,
    .token.property,
    .token.constant,
    .token.symbol,
    .token.variable {
        color: #168bca;
    }
    .token.function {
        color: #c18401;
    }
    .token.char,
    .token.entity,
    .token.selector,
    .token.decorator {
        color: #c18401;
    }
    .token.interpolation-punctuation {
        color: #c18401;
    }
    .token.number {
        color: #44950e;
    }
    .token.builtin,
    .token.class-name {
        color: #00997a;
    }
    .token.comment,
    .token.inserted {
        color: #008000;
    }
    .token.regex,
    .token.deleted {
        color: #e61919;
    }
    .token.atrule {
        color: #a626a4;
    }
}
:root.dark {
    .token.operator,
    .token.punctuation,
    .token.attr-value .token.attr-equals,
    .token.prolog,
    .token.doctype,
    .token.cdata {
        color: #808080;
    }
    .token.string,
    .token.url,
    .token.attr-value,
    .token.attr-value .punctuation {
        color: #d69d85;
    }
    .token.tag,
    .token.keyword,
    .token.important,
    .token.macro .token.directive-hash {
        color: #569cd6;
    }
    .token.boolean,
    .token.attr-name,
    .token.property,
    .token.constant,
    .token.symbol,
    .token.variable {
        color: #9cdcfe;
    }
    .token.function {
        color: rgb(223, 223, 146);
    }
    .token.char,
    .token.entity,
    .token.selector,
    .token.decorator {
        color: #d7ba7d;
    }
    .token.interpolation-punctuation {
        color: #ffc814;
    }
    .token.number {
        color: #b8d7a3;
    }
    .token.builtin,
    .token.class-name {
        color: #4ec8b0;
    }
    .token.comment,
    .token.inserted {
        color: #57a64a;
    }
    .token.regex,
    .token.deleted {
        color: #c86464;
    }
    .token.atrule {
        color: #c586c0;
    }
}
