.bloglist {
    padding: 0 480px;
}
.bloglist-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 36px 0;
}
.bloglist-ul {
    transition: max-height 300ms;
    overflow: hidden;
}
.bloglist:nth-child(odd) {
    background-color: #fcfcfc;
}
.bloglist:nth-child(even) {
    background-color: #ececec;
}
.bloglist-li {
    /* display: none; */
    width: 80%;
    height: 144px;
    border: 1px solid #cccccc;
    border-radius: 18px;
    padding: 24px;
    margin-bottom: 24px;
    /* background-color: hotpink; */
    /* margin-top: 60px; */
}
