#blog-lists {
    min-height: calc(100vh - 64px);
    padding: 12px 24px 48px;
    overflow: hidden;
    user-select: none;
}
.blog-list {
    max-width: 1024px;
    margin: 36px auto 0;
}
.blog-list-head {
    display: flex;
    cursor: pointer;
}
.blog-list-category {
    width: fit-content;
    padding: 12px 0;
    font-size: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--text-color-main);
    border-bottom: var(--border);
    transition: color 200ms, flex-grow 200ms;
}
.blog-list-ul-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 200ms;
}
.blog-list-ul {
    grid-row: 1 / span 2;
    overflow: hidden;
    opacity: 0;
    transition: opacity 200ms;
}
.blog-list-li {
    margin-top: 8px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 200ms;
}
.blog-list-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 12px 24px;
    color: var(--text-color-main);
}
.blog-list-title {
    max-width: calc(100% - 104px);
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.blog-list-time {
    font-size: 14px;
    font-weight: normal;
    opacity: 0;
    transition: opacity 200ms;
}

/*hover样式*/
.blog-list-li:hover {
    background-color: var(--bg-transparent-gray);
}
.blog-list-li:hover .blog-list-time {
    opacity: 0.5;
}
.blog-list-head:hover .blog-list-category {
    color: var(--title-color);
}

/*分类展开样式*/
.blog-list.show-list .blog-list-category {
    flex-grow: 1;
    color: var(--title-color);
}
.blog-list.show-list .blog-list-ul-wrapper {
    grid-template-rows: 1fr;
}
.blog-list.show-list .blog-list-ul {
    opacity: 0.9;
}
