.x-image {
    display: block;
    max-width: 100%;
    margin: 24px auto;
    object-fit: contain;
    user-select: none;
}
:root.dark .x-image.x-image-invert {
    filter: hue-rotate(180deg) sepia(8%) invert(89.02%) saturate(160%);
}
