.x-image {
    display: block;
    max-width: 100%;
    margin-inline: auto;
    user-select: none;
    object-fit: contain;
}
:root[data-theme='dark'] .x-image.x-image-invert {
    filter: hue-rotate(180deg) sepia(8%) invert(89.02%) saturate(160%);
}
