* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    margin-right: calc(100% - 100vw);
    padding-top: 64px;
    background-color: #f4f4f4;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
