:root.light {
    --bg-color-1: #fcfcfc;
    --bg-color-2: #f4f4f4;
}
:root.dark {
    --bg-color-1: #202026;
    --bg-color-2: #30303c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin-right: calc(100% - 100vw);
    padding-top: 64px;
    font-size: 16px;
    background-color: var(--bg-color-2);
    overflow-x: hidden;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
