/*打印*/
@media print {
    /*header*/
    #header {
        display: none !important;
    }
    /*homepage*/
    #homepage-content {
        padding: 0;
    }
    #logopart-wrapper {
        display: none !important;
    }
    /*posts*/
    #post-layout {
        margin-top: 0 !important;
        padding: 18px !important;
    }
    #contents,
    #sidebar {
        display: none !important;
    }
}
