/*响应式*/
/*width<1440px 隐藏文章目录*/
@media (max-width: 1440px) {
    #post-layout {
        padding: 0 !important;
    }
    #contents {
        display: none !important;
    }
}

/*width>1440px*/
@media (min-width: 1441px) {
    #sidebar-mask {
        opacity: 0 !important;
        pointer-events: none !important;
    }
}

/*width<600px 移动端*/
@media (max-width: 600px) {
    /*layout*/
    .y-center-wrapper {
        padding: 32px 18px !important;
    }
    /* #post-layout {
        
    } */
    /*header*/
    #header {
        padding: 0 18px !important;
    }
    #header-left-wrapper {
        gap: 0 !important;
    }
    #header-right-wrapper {
        gap: 12px !important;
    }
    /*homepage*/
    #homepage-content {
        padding: 100px 0 0 0 !important;
    }
    #homepage-title {
        font-size: 30px !important;
    }
    #logopart-wrapper {
        width: 100px !important;
        height: 100px !important;
    }
    /*component*/
    .x-codeblock pre code {
        padding: 0 20px !important;
    }
    .x-highlightblock {
        padding: 24px 20px !important;
    }
    /*others*/
    #current-version {
        font-size: 24px !important;
        line-height: 72px !important;
    }
    #cheer-gif {
        width: 64px !important;
        /* display: none !important; */
    }
    #dance-gif {
        width: 64px !important;
        padding-top: 8px !important;
    }
}

/*打印*/
@media print {
    /*header*/
    #header {
        display: none !important;
    }
    /*homepage*/
    #homepage-content {
        padding: 0;
    }
    #logopart-wrapper {
        display: none !important;
    }
    /*posts*/
    #post-layout {
        margin-top: 0 !important;
        padding: 18px !important;
    }
    #contents,
    #sidebar {
        display: none !important;
    }
}
