@media print {
    /*header*/
    #header {
        display: none !important;
    }
    /*homepage*/
    #homepage-content {
        padding: 0;
    }
    #logopart-wrapper {
        display: none !important;
    }
    /*blogs*/
    #blog-layout {
        margin-top: 0 !important;
        padding: 48px !important;
    }
    #contents,
    #sidebar {
        display: none !important;
    }
}
