/*响应式*/
/*width<1560px 隐藏文章目录*/
@media (max-width: 1560px) {
    #blog-layout {
        padding: 48px 42px 48px calc(min(396px, 30vw) + 42px) !important;
    }
    #contents {
        display: none !important;
    }
}

/*width<1000px 收起侧栏*/
@media (max-width: 1000px) {
    :root {
        --sidebar-width: 300px !important;
    }
    #blog-layout {
        padding: 32px 18px !important;
    }
    #sidebar {
        transform: translateX(-100%);
    }
    /*others*/
    #cheer-gif {
        display: none !important;
    }
}

/*width>1000px 隐藏折叠侧栏相关元素*/
@media (min-width: 1000px) {
    #header-archive {
        display: none !important;
    }
    #sidebar-mask {
        opacity: 0 !important;
    }
}

/*width<600px 移动端*/
@media (max-width: 600px) {
    /*header*/
    #header {
        padding: 0 18px !important;
    }
    #header-left-wrapper {
        gap: 0 !important;
    }
    #header-right-wrapper {
        gap: 12px !important;
    }
    /*homepage*/
    #homepage-content {
        padding: 100px 0 0 0 !important;
    }
    #homepage-title {
        font-size: 30px !important;
    }
    #logopart-wrapper {
        width: 100px !important;
        height: 100px !important;
    }
    /*bloglist*/
    .blog-list-category {
        font-size: 20px !important;
    }
    .blog-list-link {
        padding: 12px 16px !important;
    }
    .blog-list-title {
        font-size: 16px !important;
        max-width: 100% !important;
    }
    .blog-list-time {
        display: none !important;
    }
    /*component*/
    .x-codeblock pre code {
        padding: 0 20px !important;
    }
    .x-highlightblock {
        padding: 24px 20px !important;
    }
    /*others*/
    #current-version {
        font-size: 24px !important;
        line-height: 72px !important;
    }
    #cheer-gif {
        display: none !important;
    }
    #dance-gif {
        width: 64px !important;
        padding-top: 8px !important;
    }
}
