.y-link {
    display: block;
    width: 100%;
    color: var(--fg-main);
    padding: 0.4em 1em;
    margin-top: 0.2em;
    border-radius: 0.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color, background-color 200ms;
}
.y-link.active {
    color: var(--brand-300);
    background-color: var(--bg-transparent-gray-300);
}
.y-link:hover {
    background-color: var(--bg-transparent-gray-300);
}
