#blog75d1a6-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    pointer-events: none;
}
#blog75d1a6-version {
    align-self: center;
    line-height: 160px;
    font-size: 44px;
    font-family: var(--font-consolas);
    user-select: none;
}
#blog75d1a6-dance-gif {
    padding-top: 32px;
}
